.css, .scss, .less {
  &.meta {
    &.selector {
      color: @white;
    }

    &.property-name {
      color: @cyan;
      font-style: italic;
    }

    &.at-rule.import {
      color: @yellow;
    }
  }

  &.function {
    color: @green;

    &.punctuation {
      color: @white;
    }
  }

  &.constant {
    color: @purple;
  }
}
